@import url('reset.css');
@import url('window.css');

body {
  overflow: auto;
}

button {
  font-size: 14px;
  min-width: 70px;
  font-family: inherit;
  font-weight: 300;
}

strong {
  color: #626262;
  font-weight: 400;
}

.name {
  font-size: 14px;
}

.name-left {
  font-size: 14px;
  width: 135px;
  text-align: left;
}

.name-right {
  font-size: 14px;
  width: 80px;
  text-align: left;
}


.date {
  margin-left: 10px;
}

.detail-item {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 15px 0 15px;
}

#closeIssue {
  min-width: 110px;
}

#reopenIssue {
  min-width: 110px;
}

h1 {
  font-size: 26px;
  text-align: left;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  text-align: left;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  text-align: left;
  font-weight: 300;
}

h4 {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
}

p {
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}

.button-bar {
  display: flex;
  background-color: #fff;
  height: 50px;
  flex-direction: row;
  position: fixed;
  top: 140px;
  z-index: 10;
  width: 100%;
}

.button-bar-button {
  margin: 5px 5px 5px;
  padding: 0px 10px 0px;
  height: 30px;
  width: auto;
  outline: none;
  background-color: #ececec;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, 0.2);
}

.button-bar-button:hover {
  border: 1px solid black;
}

.button-bar-button:active {
  background-color: #e2e2e2;
}

.button-img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.people-img {
  margin: 0 10px 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.collapse-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}


.collapse-content {
  display: block;
  height: auto;
  margin: 10px 40px 10px;
}

.comment-content {
  display: block;
  height: auto;
  margin: 10px;
}

#collapse-button {
  margin-left: 10px;
}

.comment-box {
  margin: 5px;
}

.comment-header {
  padding: 10px;
}

.comment-text {
  font-size: 14px;
  padding: 5px;
  margin: 0 10px 0;
  border: 1px solid rgba(0,0,0, 0.2);
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
}

#audience-button {
  display: block;
  border: none;
  outline: none;
  background: none;
}

#audience-button:hover {
  color: #b1b1b1;
}

.create-button {
  margin: 5px;
  padding: 10px;
  height: 30px;
  line-height: 10px;
  border-radius: 8px;
  width: 120px;
  color: #fff;
  background-color: #7CA8FF;
  outline: none;
}

.create-button:hover {
  background-color: #7CC1FF
}

.font-icon-left {
  padding-right: 10px;
}

.font-icon-right {
  padding-left: 10px;
}

.icons {
  padding: 20px;
  top: 20px;
  left: 20px;
  min-width: 50px;
  max-width: 50px
  border-left: 1px solid rgba(0,0,0, 0.2);
}

.icon {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-left: 2px;
  margin-bottom: -8px;
  border: 1px solid rgba(0,0,0, 0.2);
}

.links {
  display: flex;
  align-items: baseline;
}

.link {
  padding: 20px 10px 10px 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
  top: 190px;
}

.left-content {
  flex: 2;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.right-content {
  flex: 1;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #e2e2e2;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-button {
  background: none;
  outline: none;
  border: none;
  padding: 10px;
  height: 39px;
}

.navbar-button:hover {
  background-color: #7CA8FF;
  color: #fff;
}

.left-buttons {
  flex: 4;
}

.right-buttons {
  flex: 1;
}

.title-box {
  display: flex;
  height: 100px;
  background-color: #ececec;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  top:40px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.ticket-title {
  align-self: flex-end;
}

.count-label {
  background-color: #7CA8FF;
  color: #fff;
  height: 15px;
  width: auto;
  min-width: 20px;
  text-align: center;
  border-radius: 8px;
  vertical-align: middle;
  margin-left: 15px;
}

.meter {
  height: 15px;
  background-color: #D6D6D6;
  width: 100px;
  margin-left: 15px;
  float: left;
}

.meter-view {
  display: inline;
  width: 200px;
}

.meter-green {
  background-color: #32E257;
  height: 15px;
  width: 100px;
  margin-left: 15px;
  float: left;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #7CA8FF;
}
