*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.level-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.level-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.level-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.level-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.level-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.BODHI5_ICON{
  background-image: url(../../images/bodhi5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ALL_MAIL_ICON{
  background-image: url(../../images/allmail.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.GMAIL_ICON{
  background-image: url(../../images/gmail.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.EUFORIC_ICON{
  background-image: url(../../images/avatar.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 25px;
  display: flex;
  background-color: #26252A;
  padding-left: 10px;
  z-index: 999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*  z-index: 9999;
  background-color: #F6F6F6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: translateZ(0);
   transform: translateZ(0);*/

menu {
  flex: 1;
  display: flex;
  padding: 0;
  align-content: flex-start;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
}

nav {
  flex: 0 0 150px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #26252A;
  flex-direction: column;
  color: #e2e2e2;
}

footer {
  display: none;
  flex: 0 0 20px;
  background-color: #F6F6F6;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.win-controls {
  flex: 0 0 60px;
  line-height: 25px
}

.win-controls a {
  display: inline-block;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  line-height: 0px;
  font-size: 0px;
  color: #333333;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  position: relative;
}

.win-controls:hover > a {
  line-height: 11px;
  font-size: 14px;
}

.win-controls a.close {
  background: #F0524A;
}

.win-controls a.min {
  background: #EBC044;
}

.win-controls a.max {
  background: #96CF72;
}

.main-menu.hide {
  margin-top: -25px;
}

.main-menu .brand {
  flex: 0 0 50px;
  text-align: left;
  margin: 0 20px 0 20px;
  line-height: 23px;
  font-size: 14px;
  font-weight: bold;
  color: #9D9BA2;
}

.main-menu > a {
  text-decoration: none;
  flex: 0 0 auto;
  text-align: left;
  padding: 0 10px 0 10px;
  line-height: 25px;
  font-size: 12px;
  color:#ffffff;
}

.main-menu > a:hover {
  background-color: #3698DE;
}

.filters {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.filters h2 {
  margin: 0;
  padding-left: 10px;
  line-height: 25px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  height: 25px;
  background-color: #1D1D20;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
}

.filters ul {
  height: auto;
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: left;
}

.filters ul li {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 0 5px 15px;
}

.filters ul li i {
  opacity: 0.5;
}

.filters li:hover {
  background-color: #3698DE;
}

.filters .sep {
  margin: 0 0px 0 15px;
  border-bottom: solid 1px rgba(255,255,255, 0.2);
}

.filters .categories {
  flex: 1;
}

.filters .folders {
  flex: 4;
}

nav .accounts {
  flex: 0 0 40px;
  display: flex;
  margin: 0;
  padding: 0;
  color: #9D9BA2;
  overflow: hidden;
  flex-direction: column;
  background: #1D1D20;
  transition: 1s all;
  border-top: solid 1px rgba(0,0,0, 0.2);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

nav .accounts:hover {
  flex: 0 0 auto;
  flex-direction: column-reverse;
}

nav .account {
  flex: 0 0 40px;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

nav .account:hover {
  background-color: #3698DE;
  color: #ececec;
}

nav .account .icon {
  flex: 0 0 30px;
  height: 30px;
  margin: 5px 10px 5px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #e9e9e9;
}

nav .account .name {
  flex: 1;
  line-height: 40px;
  font-size: 100%;
  text-align: left;
  overflow: hide;
  display: inline-block;
  float: left;
}

nav .account .dd-trigger {
  color: #9D9BA2;
  flex: 0 0 0 25px;
  line-height: 40px;
  margin-left: 0px;
}

.messages {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 350px;
  background-color: #ffffff;
}

.message-menu {
  flex: 0 0 30px;
  line-height: 30px;
  color: #e2e2e2;
  display: flex;
  background-color: #4A4852;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.message-menu > i {
  height: 30px;
  line-height: 30px;
  flex: 1;
}

.message-menu > i:hover {
  color: #3698DE;
  background-color: #2C3E49;
}

.message-menu .sep {
  border-right: solid 1px rgba(255,255,255, 0.1);
}

.messages .list {
  overflow: auto;
  flex: 1;
  flex-direction: column;
  border-right: solid 1px #e6e6e6;
}

.message-preview {
  display: flex;
  padding: 10px 15px 10px 5px;
  height: 100px;
  border-bottom: solid 1px #e6e6e6;
  font-size: 12px;
  overflow: hidden;
}

/*    .message-preview .tag {
  position: absolute;
  top: 0;
  right: 0;
  height: 0px;
  width: 0px;
  border-top: 25px solid blue;
  border-left: 25px solid transparent;
}*/

.message-preview .icons {
  flex: 0 0 40px;
}

.message-preview .icons .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.message-preview .icons .star, .flag {
  margin-top: 10px;
  color: rgba(0,0,0,0.1);
  height: auto;
  width: 30px;
}


.message-preview .details {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.message-preview .details .name {
  flex: 0 0 14px;
  font-weight: bold;
  font-size: 14px;
}

.message-preview .details .date {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 14px;
  font-weight: bold;
  font-size: 12px;
}

.message-preview .details .title {
  flex: 0 0 25px;
  line-height: 25px;
  font-weight: bold;
  font-size: 12px;
}

.message-preview .unread {
  position: absolute;
  top: 20px;
  right: 0px;
  line-height: 12px;
  color: #0EB9D2;
}

.viewer {
  flex: 4;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.6);
}

.viewer article {
  flex: 1;
  display: flex;
  border-radius: 2px;
  margin: 20px;
  max-height: 300px;
  min-height: 300px;
  flex-direction: column;
  overflow: hidden;
}

.viewer article:first-of-type {
  flex: 0 0 auto;
  max-height: none;
}

.viewer article .message-header {
  flex: 0 0 80px;
  padding: 10px;
  background-color: #ffffff;
}

.viewer article .message-menu {
  flex: 0 0 30px;
  background-color: #6A6874;
  color: #e3e3e3;
  z-index: 999999;
}

.viewer article .message-menu > i:hover {
  background-color: #4A4852;
}

.viewer article .message-body {
  flex:1;
  padding: 10px;
  min-height: 300px
  overflow: hidden;
  background-color: #ffffff;
}
