
main,
.main-content {
  display: flex;
  flex-direction: column;
}

.app-bar {
  display: flex;
  flex:0 0 auto;
  background-color: #4285F4;
  box-shadow: 0 2px 2px #c6c6c6;
  padding: 8px;
  display: flex;
  color: #ffffff;
  z-index: 10;
  transition: background-color 500ms, box-shadow 500ms;
}

.app-headline {
  flex:1;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  font-weight: 200;
  margin: 0;
  opacity: 1;
  transition: opacity 500ms;
}

.app-bar-button {
  background: none;
  border: none;
  color: #ffffff;
  height: 35px;
  outline: none;
  text-shadow: 0 0 transparent;
  transition: color 500ms, text-shadow 500ms;
  width: 30px;
}

.app-bar-button:hover {
  color: #c1c1c1;
}

.app-bar-button:active {
  color: #919191;
}

.menu-toggle {
  flex: 1;
  margin-left: 20px;
  text-align: left;
  font-size: 24px;
}

.sort-toggle {
  flex: 1;
  text-align: right;
  margin-right: 20px;
  font-size: 24px;
}

.board {
  display: flex;
  flex: 1;
  overflow: auto;
}

nav {
  flex: 0 0 150px;
  margin: 10px 0 10px 10px;
  padding: 0;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
}

.level-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.level-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.level-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.level-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.level-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.swimlane {
  display: flex;
  flex: 1;
  min-width: 225px;
  flex-direction: column;
  overflow: auto;
  padding: 5px 2px 5px 2px;
  border-right: 1px solid rgba(200,200,200,0.3);
  border-left: 1px solid rgba(200,200,200,0.3);
}

.swimlane > .title {
  flex: 0 0 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: left;
  margin-left: 16px;
  font-weight: 400;
  color: #999999;
}

.swimlane > .cards {
  display: flex;
  flex: 1;
  padding: 5px;
  flex-direction: column;
  overflow: auto;
  border: 2px dashed rgba(0,0,0,0.0);
}

.swimlane > .cards.hover {
  border: 2px dashed #777777;
  background-color: rgba(0,0,0, 0.05);
}

.swimlane > .cards.hover > * {
  display: none;
}

.major {
  border-left: 6px solid red;
}

.critical {
  border-left: 6px solid orange;
}

.minor {
  border-left: 6px solid yellow;
}

.card {
  min-height: 120px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #FDFDFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card .title {
  flex: 1;
  margin: 5px;
  line-height: 20px;
  font-size: 14px;
  min-height: 20px;
  max-height: 20px;
  color: #565656;
}

.card .title > i:before {
  border-radius: 2px;
  padding: 0 2px 0 2px;
  background-color: yellow;
  border: 1px solid #999999;
}

.card .description {
  flex: 4;
  margin: 5px 5px 0 5px;
  min-height: 50px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 200;
  color: #8F8F8F;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}

.card .meta {
  flex: 1;
  padding: 10px;
  min-height: 25px;
  line-height: 25px;
  font-size: 10px;
  font-weight: 200;
  min-width: 100px;
  height: auto;
  color: #999999;
  display: flex;
  align-items: flex-end;
}

.card .meta > * {
  flex: 1;
  width: 100%;
  line-height: 10px;
  font-size: 10px;
}

.card .meta .id {
  color: rgba(100, 100, 255, 0.8);
  min-width: 45px;
  white-space: nowrap;
}

.card .meta .metric {
  min-width: 90px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  font-weight: 400;
}

.metric > i {
  margin-right: 2px;
}

.card .meta .icons {
  text-align: right;
  min-width: 50px;
  max-width: 50px
  border-left: 1px solid rgba(0,0,0, 0.2);
}

.card .meta .icon {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 2px;
  margin-bottom: -8px;
  border: 1px solid rgba(0,0,0, 0.2);
}
